*{
  margin: 0px;
  padding: 0px;
  font-family: 'Microsoft JhengHei', sans-serif;
  color: inherit;
}

#Title {
	text-align:center;
	font-size:25px;
	font-weight:bold;
	color:#fff;
	margin-top:135px;
	margin-bottom:15px;
}

#FlashGame {
	color:#fff;
	border-style:solid;
}