*{
  margin: 0px;
  padding: 0px;
  font-family: 'Arial', sans-serif;
  color: inherit;
}

body {
  background:#abb7c1;
}

h1 {
  margin:50px;
  text-align:center;
  color:#fff;
}

h2{
  font-family: 'Microsoft JhengHei', sans-serif;
  font-size: 30;
  margin-top:140px;
  margin-bottom:20px;
  text-align:center;
  color:#D93;
  text-shadow: black 0.1em 0.1em 0.2em;
}

h3{
  font-family: 'Microsoft JhengHei', sans-serif;
  font-size: 25;
  text-align:center;
  color: #D93;
  text-shadow: black 0.1em 0.1em 0.2em;
}

nav {
  width:100%;
  margin:50px 0px;
  background:#EEE;
  display:block;
}

nav ul {
  float:left;
  width:70%;
}


nav li {
  display:inline-block;
  float:left;
  width:20%;
  height:70px;
  background:#333;
  color: #D93;
  text-align:center;
  -webkit-transition-duration: 50ms;
}

nav a {
  text-decoration:none;
  display:block;
  width:100%;
  height:100%;
  padding:25px 0px;
  text-wrap:none;
}

.bookend {
  float:left;
  width:15%;
  height:70px;
  background:#333;
  
}
.navend{
  float:left;
  width:20%;
  height:70px;
  background:#333;
}

.intro {
  border-style: solid;
  border-radius: 1%;
  border-color: #333;
  border-width: 9px;
  margin:2% 25%;
  width:50%;
  height:300px;
  background:#FFF;
}
.intro img{
    display: block;
    margin: 10px;
    height: 92.5%;
    float:left;
}
nav li:hover {
  background:#444;
  color: #FFF;
  -webkit-transform: scale(1.1) translate(0px,5px);
  -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.3);
  -webkit-backface-visibility: hidden;
}

nav li:active {
  -webkit-transform: scale(1.05) translate(0px,3px);
  -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.3);
}

/* Mobile Formatting */

@media screen and (max-width:520px) {
  nav ul {
    width:100%
  }
  
  nav li {
    float:none;
    display:block;
    width:100%;
    height:50px;
  }
  
  .bookend {
    display:none;
  }
  
  nav a{ 
    padding:15px;
  }
  
  
}