.rowGroup{
	position: relative;
	display: inline;
	width: 100%;
	height: 300px;
	float: left;
	word-break:break-all;
}

.gameGroup{
	width: 200px;
	height: 300px;
	padding-left: 5%;
	padding-top: 5%;
	float: left;
}


.indicateImg{
	position: absolute;
	width: 200px;
	height: 300px;
}

.indicateImg:hover{
	width: 200px;
	height: 300px;
	opacity: 0.7;
	transition:opacity 1s;
	-moz-transition:opacity 1s;
	-webkit-transition:opacity 1s;
	-o-transition:opacity 1s;
}